body {
    height: 100vh;
    overflow: scroll;
}

.mapBusquedaContainer {
    width: 100%;
    height: 400px;
}

.status-abierto {
    text-transform: uppercase !important;
    color: #10c410 !important;

}

.status-cerrado {
    text-transform: uppercase !important;
    color: #e31010 !important;
}