body {
    height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0;
}

.detalleLugar {
    padding: 1em 5em;
}

.detalleGaleria {
    margin-top: 1em;
}

.ui-galleria {
    padding: 2em;
    padding: 0 !important;
}

.ui-galleria-panel-wrapper {
    margin: 0 !important;
}

.ui-galleria-panel {

    width: 100% !important;
}

.ui-galleria-caption {
    display: none;
}

.ui-galleria-nav-prev, .ui-galleria-nav-next {
    color: #000 !important;
}

.mapDetalleLugarContainer {
    width: 100%;
    height: 100%;
}


#mapDetalleLugar {
    width: 100% !important;
    height: 400px !important;
}

.comentarios {

    height: 300px;
    overflow: scroll;

}

.comentario {
    padding: 1em;
    width: 40%;
    margin: 5px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
}

.iconoUsuario {
    color: var(--naranjado);
    height: 100%;
    margin-right: 0.5rem;
    overflow: hidden;
    padding: 4px;
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid black;
}

.btnComoLlegar {
    background: var(--naranjado);
    font-size: .9rem;
    font-weight: bolder;
}

